<h2>Edit your profile</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

  <% if resource.errors.any? -%>
    <div class="form_errors">
      <p>We're sorry, we couldn't create your team</p>
      <ul>
        <% resource.errors.full_messages.each do |error| -%>
          <li><%= error %>
        <% end -%>
      </ul>
    </div>
  <% end -%>
  
  <div class="input text column"><%= f.label :first_name %>
  <%= f.text_field :first_name %></div>
  
  <div class="input text column"><%= f.label :last_name %>
  <%= f.text_field :last_name %></div>

  <div class="input text email"><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div class="input text column"><%= f.label :password, "New Password" %>
  <%= f.password_field :password %></div>

  <div class="input text column"><%= f.label :password_confirmation, "Confirm New Password" %>
  <%= f.password_field :password_confirmation %></div>

  <div class="input submit"><%= f.submit "Save Changes" %></div>
<% end %>
