!!!
%html
  %head
    %title Ruckapp
    
    = stylesheet_link_tag "social-buttons/social_buttons.css"
    
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag "jquery", "jquery.colorbox-min", "application"
  %body.two-col
    - if user_signed_in?
      #header_wrapper
        #container
          #header
            = link_to "Dashboard", dashboard_path
            = link_to "Account", edit_user_registration_path
            = link_to "Sign out", destroy_user_session_path
  
    #container
      #content.content_area
        - if notice
          .notice= notice
          
        - if alert
          .alert= alert
          
        = yield
      #sidebar
